.button {
    background-color: #4CAF50;
    /* задаем цвет фона кнопки */
    border: none;
    /* убираем границы */
    color: white;
    /* задаем цвет текста */
    padding: 12px 24px;
    /* задаем внутренний отступ кнопки */
    text-align: center;
    /* выравниваем текст по центру */
    text-decoration: none;
    /* убираем подчеркивание ссылки */
    display: inline-block;
    /* задаем блочный тип отображения */
    font-size: 16px;
    /* задаем размер шрифта */
    margin: 4px 2px;
    /* задаем внешние отступы кнопки */
    cursor: pointer;
    /* изменяем форму курсора при наведении на кнопку */
    border-radius: 8px;
    /* задаем скругление углов */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    /* добавляем тень */
}

/* Изменяем внешний вид кнопки при наведении на нее курсора мыши */
.button:hover {
    background-color: #3e8e41;
}

.show_input {
    padding: 12px 20px;
    /* задаем внутренний отступ поля ввода */
    margin: 8px 0;
    /* задаем внешние отступы поля ввода */
    box-sizing: border-box;
    /* учитываем границу поля ввода в его размерах */
    border: 2px solid #ccc;
    /* задаем границу поля ввода */
    border-radius: 4px;
    /* задаем скругление углов */
    font-size: 16px;
    /* задаем размер шрифта */
}

/* Изменяем внешний вид поля ввода при фокусе на нем */
.show_input:focus {
    border: 2px solid #4CAF50;
    outline: none;
    /* убираем внешний контур фокуса */
}

.container {
    width: 80%;
    /* задаем ширину контейнера */
    margin: auto;
    /* выравниваем по центру по горизонтали */
    padding: 16px;
    /* задаем внутренний отступ контейнера */
    background-color: #f2f2f2;
    /* задаем цвет фона контейнера */
    border-radius: 8px;
    /* задаем скругление углов */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    /* добавляем тень */
}